.jumbotron{
    /* background:url(/images/bg2.jpg); */
    margin-bottom:20px;
    padding:5rem 2rem;
    padding-top:200px;
    position: relative;
    z-index: 1;
    background:#333;
}

.jumbotron:before{
    background:url('/images/bg2.jpg');
    /* background-position:center;
    background-size:cover; */
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
}

  h1{
      font-size:4em;
      color:#fff;
      text-shadow: 0 1px 10px rgba(0,0,0,.76), 0 2px 1px rgba(0,0,0,.73)
  }

  h3{
    text-shadow: 0 1px 10px rgba(0,0,0,.76), 0 2px 1px rgba(0,0,0,.73);
    color:#fff;
  }


  @media (max-width: 678px){
    .jumbotron{
    padding-top:220px;
}
  }